[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django = "*"
python-decouple = "*"
requests = "*"
numpy = "*"
pyyaml = "*"
scikit-learn = "*"
joblib = "*"
pandas = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
